@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-weight: 500;
}

small {
  font-size: 14px;
  font-weight: 400;
}

a,
p {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

li {
  list-style: none;
}

.navbar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: 24px 36px;
  transition: all 0.5s ease;
}

.navbar.sticky {
  background-color: #1e293b;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  padding: 10px 36px;
}

.navbar>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  color: #fff;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
}

.menu-list {
  display: inline-flex;
}

.menu-list li a {
  color: #fff;
  margin-left: 36px;
  font-size: 20px;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  color: #cbd5e1;
}

div.icon {
  display: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.icon.close-icon {
  position: absolute;
  right: 36px;
  top: 24px;
}

footer {
  background-color: #1e293b;
  width: 100%;
  padding: 12px 24px 24px 24px;
  color: #cbd5e1;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  color: #fff;
}

.social-media a {
  margin: 0 12px 12px 12px;
  width: 36px;
  line-height: 60px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social-media a:hover {
  font-size: 36px;
}

footer p {
  font-size: 16px;
}

main {
  overflow: auto;
}

.hero {
  background: url("images/paul-skorupskas-7KLa-xLbSXA-unsplash.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
}

.hero h1 {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  font-size: 60px;
  font-weight: 300;
  font-style: italic;
  text-align: right;
  text-shadow: 2px 2px 6px #000;
}

.hero h1 span {
  font-size: 50%;
  font-style: normal;
  margin-left: 16px;
}

section {
  padding: 80px 0;
  background-image: linear-gradient(150deg, #cbd5e1, #fff);
}

.title {
  color: #1e293b;
  font-size: 20px;
  text-align: center;
  margin-bottom: 36px;
}

.line {
  background-color: #1e293b;
  height: 2px;
  margin: 6px auto;
  width: 60px;
}

#about {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
}

#services {
  background: url("images/trevor-brown-YucYLQ6Dm8A-unsplash.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
}

#services .title {
  font-weight: 300;
  color: #fff;
  text-shadow: 2px 2px 6px #000;
}

#services .title .line {
  background-color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery .card {
  cursor: pointer;
}

.card {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  max-width: 300px;
  height: 200px;
  margin: 24px;
  text-align: center;
}

.card img {
  width: 100%;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #1e293b;
  color: #fff;
  font-size: 16px;
  line-height: 48px;
  overflow: hidden;
  transition: 0.3s ease;
}

.card:hover .overlay {
  height: 25%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 36px;
}

.contact-info a {
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info a i {
  font-size: 24px;
  margin: 0 12px;
}

.contact-info a small {
  font-size: 16px;
}

.contact-form {
  background-color: #1e293b;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 600px;
  margin: 24px auto 0 auto;
  padding: 36px 0 48px 0;
}

form {
  overflow: auto;
  width: 80%;
  margin: 12px auto;
  color: #fff;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 6px 0 18px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  color: #000;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: rgb(250, 250, 250);
}

form button {
  background-color: #fff;
  color: #1e293b;
  width: 100%;
  max-width: 180px;
  padding: 10px;
  border: 2px inset transparent;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  border: 2px inset #1e293b;
  background-color: #cbd5e1;
}

aside {
  position: relative;
  background-image: linear-gradient(20deg, #cbd5e1, #fff);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) inset;
  color: #000;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 80px 40px;
}

figure {
  padding-bottom: 12px;
}

.icon.close-bio {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
}

.bio {
  text-align: center;
}

.bio p {
  font-size: 16px;
  line-height: 28px;
}

.rounded {
  border-radius: 100%;
}

.sidebar {
  display: none;
  transform: rotate(-90deg);
  position: fixed;
  right: -36px;
  top: 36vh;
  height: 60px;
  background-color: #1e293b;
  color: #cbd5e1;
  border-radius: 10px 10px 0 0px;
  padding: 12px 24px;
  z-index: 99;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar:hover {
  right: -24px;
}

@media screen and (max-width: 640px) {

  div.icon {
    display: block;
    transition: all 0.3s ease;
  }

  .icon.hide {
    display: none;
  }

  .menu-list {
    position: fixed;
    background-color: #1e293b;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    display: block;
    padding: 48px 0;
    text-align: center;
    transition: all 0.5s ease;
  }

  .menu-list.active {
    right: 0;
  }

  .menu-list li {
    margin-top: 60px;
  }

  .menu-list li a {
    font-size: 120%;
    margin-left: 0;
  }

  #about {
    padding-left: 36px;
    padding-right: 36px;
  }

  #contact {
    padding-bottom: 0;
  }

  .contact-info a {
    flex-direction: column;
    text-align: center;
  }

  .contact-info a i {
    margin: 6px 0;
  }

  .contact-form {
    border-radius: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  aside {
    position: fixed;
    top: 18vh;
    right: -100%;
    padding: 24px 48px;
    width: 100%;
    max-width: 360px;
    border-radius: 10px 0 0 10px;
    background-image: none;
    background-color: #1e293b;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    color: #fff;
    z-index: 999;
    transition: all 0.5s ease;
  }

  .icon.close-bio {
    display: block;
  }

  aside.active {
    right: 0;
  }

  .bio .title {
    color: #fff;
  }

  .bio .line {
    background-color: #cbd5e1;
  }

  .bio p {
    font-size: 16px;
    font-weight: 300;
  }

  .sidebar {
    display: block;
  }

  .sidebar.hide {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  form {
    width: 80%;
    margin: 12px auto;
  }

  form button {
    width: 50%;
    float: right;
    cursor: pointer;
  }

  .overlay {
    height: 25%;
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 18px;
  }

  .navbar {
    padding: 20px 72px;
  }

  .navbar.sticky {
    padding: 10px 60px;
  }

  .hero h1 {
    font-size: 96px;
  }

  .title {
    font-size: 24px;
  }
}